<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
   <title>Document</title>
</head>
<body>
   <div id="app">
      <form action="" method="post">
         <label>Nome: </label>
         <input v-model="usuario.nome" type="text">

         <label>Senha: </label>
         <input v-model="usuario.senha" type="password">
         <button type="button" v-on:click="inserir()">Salvar</button>
      </form>
      <ol>
         <li style="list-style-type: none" v-for="usuario in usuarios">
				{{ usuario.id }} | {{ usuario.nome }} | {{ usuario.senha }}
				<button type="button" v-on:click="excluir(usuario)">Excluir</button>
			</li>
      </ol>
   </div>
</body>
<script>
   var app = new Vue({
      el: '#app',
      data: {
         usuarios: [],
         usuario: {
            nome:'',
            senha: ''
         }
      },
      created: function() {
         this.$http.get('http://localhost:8080/usuarios')
            .then(response => {
               this.usuarios = response.body;
            },
            error => {
               console.log('Deu merda!!');
            });
      },
      methods: {
		
			inserir: function() {
				this.$http.post('http://localhost:8080/usuarios', this.usuario)
					.then(response => {
						this.usuarios.push(response.body);
					},
					error => {
						console.log('Deu merda!!');
         	});
      	},

			excluir: function(usuario) {
				this.$http.delete(`http://localhost:8080/usuarios/${usuario.id}`)
					.then(response => {
						this.usuarios.splice(this.usuarios.indexOf(usuario), 1);
						console.log('Deu certo!!');;
					},
					error => {
						console.log('Deu merda!!');
         	});
      	}
		}
   });
</script>
</html>

         